name: CI-CD Flask App

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t flask-web .

      - name: Deploy Kubernetes
        run: kubectl apply -f k8s/
